<div class="modal-header">
  <button aria-hidden="true" class="close" data-dismiss="modal" type="button">×</button>
  <h3 id="myModalLabel">New Comment</h3>
</div>
<div class="modal-body">
  <% if @comment.id.blank? %>
    <%= form_for @comment, :url => url_for(:controller => 'comment' ) do |c| %>
      <b>Task Id Create: </b><%= task.id %></br>
      <b>Task Name: </b><%= task.name %>
      <p>
        <%= c.hidden_field :task_id, :value => task.id %>
        <%= c.text_area :description, size: "60x10" %>
      </p>
      <%= c.submit :class => 'btn btn-primary'%>
    <% end %>
  <% else %>
    <%= form_for  @comment, :url => url_for(:controller => 'comment', :method => :post, :action => :update) do |c| %>
      <b>Task Id Edit: </b><%= task.id %></br>
      <b>Task Name: </b><%= task.name %>
      <p>
        <%= c.hidden_field :task_id, :value => task.id %>
        <%= c.text_area :description, size: "60x10" %>
      </p>
      <%= c.submit :class => 'btn btn-primary'%>
    <% end %>
  <% end %>

  <div class="modal-footer">
    <button aria-hidden="true" class="btn" data-dismiss="modal">Close</button>
  </div>
</div>