<% if task.errors.any? %>
  <div id="error_explanation">
    <h3><span class="text-danger"><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</span></h3>
    <ul>
      <% task.errors.full_messages.each do |msg| %>
        <span class="text-danger"><li><%= msg %></li></span>
      <% end %>
    </ul>
  </div>
<% end %>
<%= form_for (task) do |t|%>
    <p>
      <%= t.label :name %><br>
      <%= t.text_field :name  %>
    </p>

    <p>
      <%= t.label :description %><br>
      <%= t.text_area :description, size: "60x10" %>
    </p>

  <p>
    <%= t.label :project %><br>
    <%= t.collection_select(:project_id, Project.all, :id, :name, {:include_blank => '--Select Project--'}) %>
  </p>

  <% if defined?(edit) && edit && admin_user?%>
    <p>
      <%= t.label 'Assign To:' %><br>
      <%= t.collection_select(:assigned_to_id, User.all, :id, :email) %>
    </p>
  <% end %>

  <p>
    <%= t.label :category %><br>
    <%= t.select :category, [['Development','development'],['Testing','testing'],['Release','release']] %>
  </p>


  <p>
    <%= t.label :status %><br>
    <%= t.select :status, [['Open','open'],['Closed','closed'],['Deferred','deferred'],['Monitoring','monitoring']] %>
  </p>


  <p>
    <%= t.label :priority %><br>
    <%= t.select :priority, [['Minor','minor'],['Major','major'],['Severe','severe']] %>
  </p>


  <%= t.submit :class => 'btn btn-primary'%>
<% end %>

