<h1>Edit Details</h1>

<p>
  <b>Name:  </b><%= @task.name %></br>
  <b>Description:  </b><%= @task.description %></br>
  <b>Due date:  </b><%= @task.due_date %></br>
  <b>Project:  </b><%= @task.project.name %></br>
  <b>Assigned to:  </b><%= @task.assigned_to.email %></br>
  <b>Category:  </b><%= @task.category %></br>
  <b>Status:  </b><%= @task.status %></br>
  <b>Priority:  </b><%= @task.priority %></br>
</p>

<h1>Comments:</h1>

<% @task.comments.each do |c| %>
  <div class="well well-sm">
    <b>From:  </b><%= c.user_id %></br>
    <b>Date:  </b><%= c.updated_at %></br>
    <b>Message:  </b><%= c.description %></br>
  </div>
<% end %>

<div class="modal modal-container" id="comment-modal" title="New Comment">
  <%= render :partial => '/comment/new', :new => @comment, locals: {:task => @task}  %>
</div>

<%= link_to "New Comment", "#comment-modal", :class => "btn btn-success", "data-toggle" => "modal" %>
